@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

body {
    font-family: 'IBM Plex Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease; /* Add a smooth transition for background color changes */
}

/* Add this CSS code at the end of your styles.css file */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.header-content {
    flex-grow: 1;
}

.dark-mode-toggle-container {
    margin-left: 10px; /* Adjust the margin as needed */
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for sections */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

/* Dark mode styles */
body.dark-theme {
    background-color: #333;
    color: #fff;
}

body.dark-theme header {
    background-color: #222;
}

body.dark-theme footer {
    background-color: #222;
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme p,
body.dark-theme li {
    color: #fff;
}

body.dark-theme section {
    background-color: #444; /* Darken the section background in dark mode */
}
